OPENSKY_CLIENT_ID="YOUR_CLIENT_ID"
OPENSKY_CLIENT_SECRET="YOUR_CLIENT_SECRET"
EXCHANGE_RATE_API_KEY="YOUR_EXCHANGE_RATE_KEY"
POSTGRES_HOST=YOUR_POSTGRES_HOST
POSTGRES_PORT=YOUR_POSTGRES_PORT
POSTGRES_DB=YOUR_POSTGRES_DB
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
_AIRFLOW_WWW_USER_USERNAME=YOUR_AIRFLOW_WWW_USER_USERNAME
_AIRFLOW_WWW_USER_PASSWORD=YOUR_AIRFLOW_WWW_USER_PASSWORD
SIMULATE_LOAD_FAILURE=false